* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #080a07;
    color: #ffffff;
}

a {
    padding: 1px 0;
    text-decoration: none;
    transition: color 0.2s;
}

h2 {
    margin-bottom: 32px;
    border-left: 4px solid #79d409;
    padding-left: 8px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.dark {
    background-color: #010101;
    color: #ffffff;
}

.dark-link {
    color: #79d409;
    border-bottom: 1px solid #79d409;
}

.dark-link:hover,
.dark-link:focus {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.text-center {
    text-align: center;
}



#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #010101;
    }

#header img {
    width: 120px;
}

#menu {
display: flex;
list-style: none;
gap: 0.5rem;
}

#menu a {
display: block;
padding: 0.5rem;
color: #ffffff;
}

#header a:hover,
#header a:focus {
    color: #79d409;
}

#btn-mobile {
    display: none;
    }

.hero {
    height: 420px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/Equipe_E.jpg);
    background-size: cover;
    background-position: center top;
}

.hero h1 {
    color: #ffffff;
    font-size: 36px;
    background-color: rgba(0, 255, 0, 0.5);
    padding: 4px 8px;
}

.gallery {
    padding: 64px 24px 94px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}



.gallery-row figure {
    flex: 1 1 250px;
}

.gallery-row figure img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.gallery figure figcaption {
    font-weight: bold;
}

.shop {
    padding: 0 24px 94px;
}

.shop-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.shop-row figure {
    flex: 1 1 250px;
}

.shop-row img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.shop figcaption {
    font-weight: bold;
    text-align: center;
}

.history {
    padding: 92px 24px 0;
    border-top: 4px solid #79d409;
}

.history .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #79d409;
    gap: 24px;
}

.history .container .col {
    flex: 1 1 250px;
}

.history .container .col img {
    width: 100%;
    display: block;
}

.history p+p {
    font-weight: bold;
    margin-top: 24px;
    color: #79d409;
}

footer {
    padding: 64px 24px;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #010101;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #080a07;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: #79d409;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }
    
    section.formulario {
    background-color: #010101;
    }
    
    .formulario{
            padding: 64px 24px 94px;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .form-group input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #79d409;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    @media (max-width: 600px) {
        form {
        max-width: 100%;}}

        .form-description {
            font-size: 14px;
            margin-top: 5px;
            color: #888;
        }
        
        #form-errors {
            display: none;
            color: red;
            font-size: 14px;
            margin-top: 10px;
        }


